do_token = ""
pvt_key = "/home/josh/.ssh/id_rsa"

cloudflare_api_token = ""
cloudflare_zone_id = ""
cloudflare_account_id = ""
cloudflare_domain = "akatsuki.gg"

aws_access_key = ""
aws_secret_key = ""

# SSH access is via Tailscale to k8s-master01 (bastion)
# Other servers accessed via VPC ProxyJump
# tailscale_ipv4_range defaults to 100.64.0.0/10 (Tailscale CGNAT)
