do_token = ""
pvt_key = "/home/josh/.ssh/id_rsa"

cloudflare_api_token = ""
cloudflare_zone_id = ""
cloudflare_account_id = ""
cloudflare_domain = "akatsuki.gg"

aws_access_key = ""
aws_secret_key = ""

# Set to false to disable k8s firewalls (for quick rollback)
enable_k8s_firewalls = true
